[submodule "ichor"]
	path = ichor
	url = https://github.com/nyx-org/ichor
[submodule "stdc-shim"]
	path = stdc-shim
	url = https://github.com/nyx-org/stdc-shim
[submodule "subprojects/stdc-shim"]
	path = subprojects/stdc-shim
	url = https://github.com/nyx-org/stdc-shim
[submodule "subprojects/ichor"]
	path = subprojects/ichor
	url = https://github.com/nyx-org/ichor
